# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Configuration and Secrets (MUHIM!)
.env
*.session
*.session-journal

# Database
bot_database.db

# Logs
*.log
